@using _3lashanak
@using _3lashanak.Data
@using _3lashanak.Models
@model Messages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ApplicationDbContext _context;
@{
    Layout = null;
    Settings WhoUs = _context.Settings.FirstOrDefault(x => x.Key == "من نحن");

    Settings navBtn = _context.Settings.FirstOrDefault(x => x.Key == "زر الهيدر");
    Settings heroBtn = _context.Settings.FirstOrDefault(x => x.Key == "زر الهيرو");

    Settings header = _context.Settings.FirstOrDefault(x => x.Key == "الهيدر");
    Settings headerDesc = _context.Settings.FirstOrDefault(x => x.Key == "الوصف");

    List<Partners> partners = _context.Partners.ToList();
    List<Service> services = _context.Services.ToList();
    List<Packages> packages = _context.Packages.ToList();
    List<SocialMedia> socialmedia = _context.SocialMedia.ToList();
    List<ServicePackeges> servicePackeges = _context.ServicePackeges.ToList();
}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>

    <!-- Css Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.2/bootstrap-icons.svg" />
    <link href="/Index/css/site.css" rel="stylesheet" asp-append-version="true"/>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="container-fluid px-0" style="">
        <nav class="navbar navbar-expand-lg bg-white ">
            <div class="container-fluid">
                <a class="navbar-brand " style="padding-right: 135px;"  href="#"><img src="/Index/images/logo 1.png" /></a>
                <button class="navbar-toggler"  type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link activeLink" aria-current="page" href="#main">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mainNavLink" aria-current="page" href="#Services">خدماتنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mainNavLink" aria-current="page" href="#Packages">الباقات</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link mainNavLink" aria-current="page" href="#WhoUs">من نحن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mainNavLink" aria-current="page" href="#Contact">تواصل معنا</a>
                        </li>
                    </ul>
                    <form class="d-flex"  style="padding-left: 135px!important;"role="search">
                        <a class="btn btnActive" href="@navBtn.Value" type="submit">
                            @navBtn.Name
                        </a>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div style="height:150px">

    </div>
    <!-- Main Content -->
    <div id="main" class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 mainHeader p-0">
            <div  class="col order-2 order-lg-1 h-100 d-flex align-self-center justify-content-center align-items-start flex-column text-center">
                <h1>
                    @header.Name<span class="color-primary">@header.Value</span>
                </h1>
                <p class="headerParagraph">
                    @headerDesc.Name<br />
                    @headerDesc.Value
                </p>
                <div class="mt-5">
                    <a href="@heroBtn.Value" class="btn btnActive"> <i class="bi bi-download"></i>@heroBtn.Name</a>
                    <span class="p-3 btn border-0">استكشف أكثر</span>
                </div>
                <div class="ourParthers my-3">شركائنا</div>
                <div class="">
                    @foreach(Partners part in partners)
                    {
                        <img src="@part.Image" alt="" />
                    }
                </div>
                <div style="height: 200px;"></div>
            </div>
            <div class="col order-1 order-lg-2 p-0 h-100 d-flex justify-content-end">
                <img src="/Index/images/heroCar.png" class="img-fluid p-0" alt="Car" />
            </div>
        </div>
    </div>
    <!-- Our Services -->
    <section id="Services" class="ourServices container-fluid">
        <p class="ourServicesText my-5">خدماتنا</p>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 justify-content-center row-cols-lg-4 gap-3 gap-lg-0">
                @foreach(Service serv in services)
                {
                    <div class="col-auto">
                        <div class="p-1 colService d-flex flex-column">
                            <div class="mx-auto">
                                <img src="@serv.Icon" alt="" />
                            </div>
                            <h3 class="ourParthers">@serv.Title</h3>
                            <p>@serv.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- Packages -->
    <section id="Packages" class="ourPackages container-fluid">
        <p class="packagesText my-5">باقاتنا</p>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-1 justify-content-center row-cols-lg-3">
                @foreach(Packages pack in packages.Where(x => !x.IsMajor).Take(1))
                {
                    <div class="col-auto mx-auto">
                        <div class="p-1 colPlckages d-flex flex-column justify-content-between">
                            <div>
                                <div class="packagesTitleContainer">
                                    <h3 class="packageType">الباقة الربع سنوية</h3>
                                    <div>
                                        <h1 class="packagePrice">@pack.Price ريال سعودي <sup class="packageAnn">سنويا</sup></h1>

                                        <p class="packageDescription">
                                           @pack.Description
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <ul class="packagesList">
                                  
                                   

                                </ul>
                            </div>
                            <div class="packagesFooter">
                                <span class="d-inline-block">ابدا الآن</span>
                            </div>
                        </div>
                    </div>
                }
                @foreach(Packages pack in packages.Where(x => x.IsMajor))
                {
                    <div class="col-auto mx-auto">
                        <div class="p-1 colPlckages  d-flex flex-column justify-content-between">
                            <div>
                                <div class="packagesTitleContainer">
                                    <h3 class="packageType">الباقة الربع سنوية</h3>
                                    <div>
                                        <h1 class="packagePrice">@pack.Price ريال سعودي <sup class="packageAnn">سنويا</sup></h1>

                                        <p class="packageDescription">
                                        @pack.Description
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <ul class="packagesList">
                                      @foreach (var item in servicePackeges)
                                   {
                                        if(item.PackageId == pack.Id)
                                        {
                                             <li class="packagesMember">
                                               <img src="/Index/images/Oval.svg" /> @item.Service
                                            </li>
                                        }
                                       
                                   }
                                  
                                   
                                </ul>
                            </div>
                            <div class="packagesFooter">
                                <span class="d-inline-block">ابدا الآن</span>
                            </div>
                        </div>
                    </div>
                }
                @if(packages.Count> 1)
                {
                    foreach(Packages pack in packages.Where(x => !x.IsMajor).TakeLast(1))
                    {
                        <div class="col-auto mx-auto">
                            <div class="p-1 colPlckages d-flex flex-column justify-content-between">
                                <div>
                                    <div class="packagesTitleContainer">
                                        <h3 class="packageType">الباقة الربع سنوية</h3>
                                        <div>
                                            <h1 class="packagePrice">@pack.Price ريال سعودي <sup class="packageAnn">سنويا</sup></h1>

                                            <p class="packageDescription">
                                               @pack.Description
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <ul class="packagesList">
                                  
                                    @foreach (var item in servicePackeges)
                                    {
                                            @if(item.PackageId == pack.Id)
                                            {
                                                  <li class="packagesMember">
                                                      <img src="/Index/images/Oval.svg" />
                                                      @item.Service
                                                      </li>
                                            } 
                                    }

                                    </ul>
                                </div>
                                <div class="packagesFooter">
                                    <span class="d-inline-block">ابدا الآن</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
    
    <div id="WhoUs" class="container " style="margin-bottom: 80px!important; color: #323232; ">
        
        <div class="row justify-content-center" style="text-align: center;font-family:'Cairo';">
            <p class="text-center" style="font-size: 2rem; margin-bottom: 40px!important;"> من نحن </p>
           
            <div class="col-12 col-md" style="font-size: 1.2rem; text-align: right;">
                   <h3 style="margin-bottom: 32px!important;">@WhoUs.Name</h3>

                    <p style="line-height: 40px; color: #797979;">@WhoUs.Value</p>
            
            </div>
            <div class="col-12 col-md">
                <div class="mainHeader">
                   <img src="@WhoUs.Icon"style="width:85%!important" />
                </div>
            </div>
        </div>
    </div>
    
    <form id="Contact"  asp-controller="Messages" asp-action="Create" class=" container p-0 mb-5" style="font-family:'Cairo'; color: #323232; font-weight: 400!important;"  method="post">
        <p class="text-center" style="font-size: 2rem; margin-bottom: 40px!important;">تواصل معنا </p>
        <div class="formContact bg-white p-5 ">
            <div class="row">
                <div class=" col-lg-6">
                    <label for="exampleInputfirstname1" class="form-label">
                      <b>الاسم:</b>  
                        
                    </label>
                    <input asp-for="Name"  class="form-control rounded-3" id="exampleInputfirstname1"
                           aria-describedby="firstnameHelp" />
                    <div asp-validation-for="Name" class="text-danger"></div>
                </div>
                <div class="col-lg-6">
                    <label for="exampleInputEmail1" class="form-label"><b>الايميل:</b> </label>
                    <input asp-for="Email"  class="form-control rounded-3" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                    <div asp-validation-for="Email" class="text-danger"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class=" col-lg-6">
                    <label for="exampleInputphone1" class="form-label">
                       <b>رقم الهاتف:</b> 
                        
                    </label>
                    <input asp-for="PhoneNumber"  class="form-control rounded-3" id="exampleInputphone1"
                           aria-describedby="phoneHelp">
                           <div asp-validation-for="PhoneNumber" class="text-danger"></div>
                </div>
                <div class="col-lg-6">
                    <label for="exampleInputsubject1" class="form-label"><b>الموضوع:</b> </label>
                    <input asp-for="Subject" class="form-control rounded-3" id="exampleInputsubject1"
                           aria-describedby="subjectHelp">
                           <div asp-validation-for="Subject" class="text-danger"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">
                      <b>الوصف:</b>  
                        
                    </label>
                    <textarea  asp-for="Body" class="form-control rounded-3" id="exampleFormControlTextarea1"
                              rows="7"></textarea>
                              <div asp-validation-for="Body" class="text-danger"></div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-12 justify-content-start mt-3">
                    <button type="submit" class=" btnSubmit rounded-3 px-4 float-start ">
                        <i class="bi bi-arrow-right-short" style="font-size: 16px;"></i>
                        ارسال
                    </button>
                </div>
            </div>
        </div>
    </form>
    <footer>
        <div class="container-fluid TextFooter text-white"  dir="rtl" style="background-image: linear-gradient(0deg,#12A0BD,#a6d7e0);">
            
                <div class="row">
                    <div class="col">
                        <h3>حمل التطبيق الان</h3>
                        <p><i class="bi bi-star"></i>تمتع بخدمات الطريق أينما كنت</p>
                        <p>سعر واحد طيلة العام</p>
                        <a href="#"><img src="/Index/images/install GooglePaly.png"/></a>
                        <a href="#"><img src="/Index/images/install IOS.png"/></a>
                    </div>
                    <div class="col">
                        <img src="/Index/images/mobile.png" style="margin-top: 39px; margin-left: 135px;"/>
                    </div>
                    
                </div>
                <div class="row mt-5 justify-content-center "  style="padding-right:135px !important" >
                    <div class="col" >
                        <h5>تابعنا على السوشيال ميديا</h5>

                        @foreach(SocialMedia sm in socialmedia)
                        {
                            <img src="@sm.Logo" class="m-1" />
                        }
                    </div>
                    <div class="col-12 col-md-2" >
                            <h5>الصفحات</h5>
                            <p>خدماتنا</p>
                            <p>الباقات</p>
                            <p>من نحن</p>
                            <p>تواصل معنا </p>
                    </div>
                    <div class="col-12 col-md" >
                        <h5>النشرة البريدية</h5>
                        <div class="d-flex">
                            <input  placeholder="الإيميل" class="inputEmail"/>
                            <button class="btnShare">اشترك</button>
                        </div>
                      
                    </div>
                    <div class="col text-center" >
                            
                        <img src="/Index/images/logo 1 1.png"/>
                           <h6>Powerd by</h6>
                        <img src="/Index/images/logo 2 1.png">
                    </div>
                </div>
         
            
        </div>
    </footer>
      
   

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <!-- Js Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>
